@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #d6ff5c;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/MatterSQ-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Matter', sans-serif;
}

/* body {
  background-color: rgb(156, 160, 154);
}

/* Para fixar largura do dispositivo */
#root {
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 400px; */
  margin: 0 auto;
}
